@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

::root {
    --primary-color: #f1f1f0;
    --accent-color: rgb(238, 148, 64);
    --text-color: rgb(41, 40, 39);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}