@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

::root {
    --primary-color: #F9F7F6;
    --accent-color: #FFD367;
    --text-color: #4A443B;
    --secondary-text-color: #8F8A82;
    --heading-text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}